<?xml version="1.0"?>
<config>
    <modules>
        <Shipstr_Magento2>
            <version>1.0.1</version>
        </Shipstr_Magento2>
    </modules>
    <default>
        <plugin>
            <Shipstr_Magento2>
                <events>
                    <delivery>
                        <committed>1</committed>
                    </delivery>
                    <inventory>
                        <adjusted>1</adjusted>
                    </inventory>
                    <shipment>
                        <packed>1</packed>
                    </shipment>
                </events>
            </Shipstr_Magento2>
        </plugin>
    </default>
</config>
