<?xml version="1.0"?>
<config>
    <modules>
        <ShipStream_Magento2>
            <version>1.0.1</version>
        </ShipStream_Magento2>
    </modules>
    <default>
        <plugin>
            <ShipStream_Magento2>
                <events>
                    <delivery>
                        <committed>1</committed>
                    </delivery>
                    <inventory>
                        <adjusted>1</adjusted>
                    </inventory>
                    <shipment>
                        <packed>1</packed>
                    </shipment>
                </events>
            </ShipStream_Magento2>
        </plugin>
    </default>
    <phpunit>
        <suite>
            <modules>
                <ShipStream_Magento2 />
            </modules>
        </suite>
    </phpunit>
</config>
